.category {
    .container {
        padding: 1rem 0;

        .category-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .category-item {
                flex: 1;
                color: grey;

                span {
                    cursor: pointer;

                }
                .day {
                    font-weight: 600;
                    color: #000;
                    margin-bottom: .2rem;
                }
                .date {
                    font-size: 14px;
                }
            }
        }
    }
}