.footer {
    height: 70px;
    .container {   
        border-top: 1px solid rgb(219, 218, 218); 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: grey;
    }
}


@media(max-width: 576px) {
    .footer {
        .container {
            font-size: .75rem;
            flex-direction: column;
            justify-content: center;
            .copyright {
                margin: .6em 0;
            }
        }
    }
}